<p id="notice"><%= notice %></p>

<h2>Les produits</h2>

<table>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><img src="<%= product.photo_url %>" alt="<%= product.name %>" style="width: 50px"></td>
        <td><strong><%= link_to product.name, product %></strong></td>
        <td style="text-align: right"><%= product.price %> €</td>
        <td>
          <% if product.stock > 0 %>
            <%= link_to 'Ajouter au panier', cart_path(product: product.id), method: :put %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
