<!DOCTYPE html>
<html>
<head>
  <title>Chez Vito</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
  <h1>Chez Vito</h1>
  <%= link_to 'Panier', cart_url %>
</div>

<%= yield %>

</body>
</html>
